ipdb==0.10.3
ipython==6.0.0
pycodestyle==2.3.1
pydocstyle==2.0.0
pytest-cov==2.4.0
pytest==3.0.7
flake8==3.3.0
flake8-builtins==0.2
flake8-docstrings==1.1.0
flake8-import-order==0.12
flake8-quotes==0.9.0
flasgger==0.8.0
